body.dark-mode {
    background-color: #212529;
    color: #f8f9fa;

    .table {
        color: #f8f9fa;

        thead {
            th {
                border-color: #f8f9fa;
                color: #f8f9fa;
            }
        }

        tbody {
            tr {
                border-color: #f8f9fa;

                td {
                    border-color: #f8f9fa;
                    color: #f8f9fa;
                }
            }
        }
    }

    .btn {
        border-color: #f8f9fa;
        color: #f8f9fa;
    }
}


.switch {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
  
    input[type="checkbox"] {
      display: none;
    }
  
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      cursor: pointer;
    }
  
    .toggle-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 18px;
      border-radius: 9px;
      background-color: #333;
      color: #fff;
      position: relative;
  
      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        transition: all 0.2s ease;
      }
  
      i:first-child {
        left: 4px;
      }
  
      i:last-child {
        right: 4px;
      }
    }
  
    input[type="checkbox"]:checked + label {
      .toggle-icon {
        background-color: #2196f3;
  
        i:first-child {
          opacity: 0;
          transform: translateX(-50%);
        }
  
        i:last-child {
          opacity: 1;
          transform: translateX(50%);
        }
      }
    }
  }
  